<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.DdclassdateMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Ddclassdate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="classDate" jdbcType="INTEGER" property="classdate" />
    <result column="dname" jdbcType="CHAR" property="dname" />
    <result column="state" jdbcType="CHAR" property="state" />
  </resultMap>
</mapper>